{% extends 'layout.html' %}

{% block conteudo %}
<h1>Usuarios que estão cadastrados:</h1>
<!-- aqui podemos definir elementos de acordo com o usuário logado -->
{% if not current_user.is_authenticated %}
    <a href="{{url_for('register')}}">Cadastro</a>
    <a href="{{url_for('login')}}">Login</a>    

{% else %}
    {{current_user.matricula}}
{% endif %}

    <ul>
        {% for user in users %}
        <li>
            {{user['id']}} | {{user['matricula']}}
        </li>
        {% endfor %}
    </ul>

{% endblock %}
